<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>iniciarSesion</servlet-name>
        <servlet-class>iniciarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>procesarInicioSesion</servlet-name>
        <servlet-class>procesarInicioSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarRegistroAdmin</servlet-name>
        <servlet-class>ProcesarRegistroAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inicioCliente</servlet-name>
        <servlet-class>inicioCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>infoCliente</servlet-name>
        <servlet-class>infoCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>aplicadorExamen</servlet-name>
        <servlet-class>aplicadorExamen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>anadirReactivo</servlet-name>
        <servlet-class>anadirReactivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crearExamen</servlet-name>
        <servlet-class>crearExamen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>infoAdmin</servlet-name>
        <servlet-class>infoAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inicioAdmin</servlet-name>
        <servlet-class>inicioAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registroUsuarios</servlet-name>
        <servlet-class>registroUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cerrarSesion</servlet-name>
        <servlet-class>cerrarSesion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>iniciarSesion</servlet-name>
        <url-pattern>/iniciarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>procesarInicioSesion</servlet-name>
        <url-pattern>/procesarInicioSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarRegistroAdmin</servlet-name>
        <url-pattern>/ProcesarRegistroAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inicioCliente</servlet-name>
        <url-pattern>/inicioCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>infoCliente</servlet-name>
        <url-pattern>/infoCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aplicadorExamen</servlet-name>
        <url-pattern>/aplicadorExamen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>anadirReactivo</servlet-name>
        <url-pattern>/anadirReactivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crearExamen</servlet-name>
        <url-pattern>/crearExamen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>infoAdmin</servlet-name>
        <url-pattern>/infoAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inicioAdmin</servlet-name>
        <url-pattern>/inicioAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registroUsuarios</servlet-name>
        <url-pattern>/registroUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cerrarSesion</servlet-name>
        <url-pattern>/cerrarSesion</url-pattern>
    </servlet-mapping>
</web-app>
